@import url('https://fonts.googleapis.com/css?family=Overpass+Mono');
@import url('https://fonts.googleapis.com/css?family=Overpass+Mono|Rubik');
@import url('https://fonts.googleapis.com/css?family=Lato');
/*@import "compass/css3";
@include keyframes(bounce) {
	0%, 20%, 50%, 80%, 100% {
    @include transform(translateY(0));
  }
	40% {
    @include transform(translateY(-30px));
  }
	60% {
    @include transform(translateY(-15px));
  }
}
*/
* { margin:0; padding:0; box-sizing:border-box; }
body {
	background: #000;
	color: white;
}

h1 {
	text-align: justify;
	color: #5B9BBF;
	font-family: 'Overpass Mono', monospace;
	font-size: 60px;
	padding-top:5%;
	padding-bottom: 5%;
	width: 13em;
	margin: auto;
}

.wrapper {
	width: 1200px;
	margin: auto;
	font-family: 'Lato', sans-serif;
}

a {
	color: #5B9BBF;
}

a:visited {
	color: #8BC9B9;
}

.highlighted {
	color: #FF47CC;
}


.arrow {
  position: absolute;
  bottom: .5em;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3em;
  /* color: #fff; */
  text-decoration: none;
}

/*.bounce {
  @include animation(bounce 2s infinite);
}*/
#splash {
	/* background:#fff; */
	height:100vh;
	padding:10em 0 0;
	position:relative;
}
