#slogan {
	font-weight: bold;
	font-style: italic;
	text-align: center;
}

body {
	background: #FFF7ED;
	font-family: Lato;
}

h1 {
	text-align: center;
	color: #5B9BBF;
}

img {
	display: block;
	margin: auto;
}


.wrapper {
	width: 600px;
	margin: auto;
}

a:link {
	color: #5B9BBF;
}

a:visited {
	color: #8BC9B9;
}